# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# Android
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/app/release/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.ipa
*.dSYM.zip
*.dSYM

# Gradle
.gradle/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Temporary
tmp/
temp/
C:/
